.navbar {
    &__menu-session {
        display: none;
        width: 87.2%;
        background-color: #fff;
        position: absolute;
        top: 120px;
        text-align: center;
        padding: 1.4375rem 1.4375rem;
        border-radius: 4px;
        @include desktop-up {
            position: static;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__menu {
        font-weight: 600;
        border-bottom: 1px solid rgba(211, 211, 211, .5);
        @include desktop-up {
            display: flex;
            border-bottom: 0;
        }

        &-item {
            position: relative;
        }
        
        &-title {
            font-size: 17px;
            color: $headings;
            cursor: default;
            @include desktop-up {
                color: $text;
                margin-right: 2rem;
                font-family: $font2;
                // font-size: 16px;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            
            img {
                width: 10px;
                margin-left: 4px;
                pointer-events: none;
            }
        }
    }
    &__submenu {
        list-style-type: none;
        background-color: rgba(211, 211, 211, .3);
        border-radius: 4px;
        padding: 1rem;
        height: 0;
        padding: 0;
        overflow-y: hidden;
        @include desktop-up {
            margin: 0;
            position: absolute;
            left: -20px;
            width: 10rem;
            text-align: left;
            background-color: #fff;
        }

        &-link {
            display: inline-block;
            text-decoration: none;
            margin-top: 8px;
            margin-bottom: 8px;
            color: gray;
            @include desktop-up {
                font-family: $font2;
                font-size: 15px;
                font-weight: 400;
                color: $body-copy;
                &:hover {
                    font-weight: 700;
                    color: $headings;
                }
            }
        }
    }
    &__session {
        display: inline-flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-top: 2rem; /* test */
        padding-bottom: 8px;
        @include desktop-up {
            flex-direction: row;
            align-items: center;
            -moz-column-gap: 2rem;
                 column-gap: 2rem;
            padding: 0;
        }

        // &-link { }
    }
}