// COLORS
// primary
$cta-text: hsl(356, 100%, 66%);
$cta-hover-bg: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);

// neutral 
$text: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-bg: hsl(240, 10%, 16%);

// gradient
$very-light-red: hsl(13, 100%, 72%);
$light-red: hsl(353, 100%, 62%);
$intro-cta-mobile-nav: linear-gradient($very-light-red, $light-red);

$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-desaturated-blue: hsl(237, 23%, 32%);
$body-section: linear-gradient($very-dark-gray-blue, $very-dark-desaturated-blue);

// fonts
$font1: "Overpass";
$font2: "Ubuntu";