@import 'generic/base';
@import 'generic/normalize';
@import 'generic/fonts';
@import 'settings/variables';
@import 'layouts/header';
@import 'components/navbar';
@import 'components/menu';
@import 'components/buttons';
@import 'layouts/content';
@import 'layouts/footer';
@import 'layouts/hooks';

body {
    font-family: $font1;
    font-weight: 300;
    font-size: 16px;
}